<section class="hero">
    <div class="hero-content">
        <h1 class="main-heading">Best SEO Tool for Developers.</h1>
        <p>
            Creating good design and focusing on the <span>human experience</span>.
        </p>
        <button class="cta-button">Learn more</button>
    </div>
    <ng-lottie id="lottie" height="auto" [options]="options"></ng-lottie>
</section>
<section class="info-section">
    <div class="info-wrapper">
        <div class="cards">
            <div class="card">
                <div class="card_img">
                    <img src="../../assets//credit-card.png" alt="" width="80px">
                    <p>May 2021</p>
                </div>
                <h1>Best SEO Practices</h1>
                <p>Makes use of the best seo practices and makes your website very fastr.</p>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../assets//credit-card.png" alt="" width="80px">
                    <p>December 2021</p>
                </div>
                <h1>Simple Keyword Search</h1>
                <p>Customize your web searches to suite your business needs.</p>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../assets//credit-card.png" alt="" width="80px">
                    <p>January 2022</p>
                </div>
                <h1>Best SEO Practices</h1>
                <p>Makes use of the best seo practices and makes your website very fastr.</p>
            </div>
        </div>
    </div>
</section>
<section class="info-section">
    <div class="info-wrapper">
        <!-- <div class="shape"></div> -->
        <div class="info_img">
            <img src="../../assets/phone3.png" alt="" width="80%">
        </div>
        <div class="info-content">
            <h1 class="title">All your solutions in one place</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium iusto porro reprehenderit!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, quidem at, aperiam non a corporis.</p>
            <button class="buttonPrimary">Try for free</button>

        </div>
    </div>
</section>
<section class="info-section">
    <div class="info-wrapper">

        <div class="cta-content">
            <h1 class="cta-title">Get Better Results</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex eius corporis at, <br>impedit repudiandae earum reiciendis nam veniam distinctio vitae?</p>
            <div class="form">
                <input type="text" placeholder="Email">
                <button class="buttonPrimary">Try for free</button>
            </div>
        </div>
    </div>
</section>