<nav>
    <div class="logo">
        <a href="/">
            <img src="../../assets/Microsoft_Office_logo_(2019–present).svg.webp" alt="" width="50px" /> Greystone
        </a>
    </div>
    <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/app-about" routerLinkActive="active">About</a></li>
        <li>
            <a routerLink="/app-our-work" routerLinkActive="active">Work</a>
        </li>
        <li>
            <a routerLink="/app-contact" routerLinkActive="active">Contact</a>
        </li>
    </ul>
    <div class="logo">
        <button class="buttonPrimary">Login</button>
        <button class="buttonPrimary">Sign up</button>
    </div>
</nav>
