<footer>
    <div class="footer-wrapper">
        <div class="footer-sec">
            <h2 class="footer-title">Greystone</h2>
        </div>
        <div class="footer-sec" id="footer2">
            <ul class="footer-list">
                <h2>Quick links</h2>

                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Work</a></li>
                <li><a href="">Contact</a></li>

            </ul>
            <ul class="footer-list">
                <h2>Socials</h2>

                <li><a href="">Instagram</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Github</a></li>
            </ul>
        </div>
        <div class="footer-sec">
            <ul>

                <li><a href="">contact@greystone.com</a></li>
                <li><a href="">www.zinhle.dev</a></li>
                <li>
                    <label>Cell:</label>
                    <p>0791331180</p>
                </li>
                <li><address>Johannesburg, South Africa</address></li>
            </ul>
        </div>
    </div>
    <hr>
    <p>All rights reserved Zinhle.dev</p>
</footer>
